*{
    padding: 0%;
    margin: 0%;
}
.top {
    width: 100%;
    height: 6vh;
    background-color: rgb(0, 0, 0);
    top: 0;
}
 .title h1{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    padding-top: 8px;
 }
#map{
    width: 100%;
    height: 94vh;
    position: fixed;
    bottom: 0;
    left: 0%;
}
#routing-panel {
    max-height: 80vh;
    overflow-y: auto;
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}
